\documentclass[10pt,twoside,openany]{book}

\usepackage[english]{babel}
\usepackage[utf8]{inputenc}
\usepackage{lib/dnd}
\usepackage{listings}
\usepackage{multicol}
\usepackage{hyperref}

\title{Sarradar RPG}
\author{Peter Cummuskey}
\date{$date}
\lstset{%
  basicstyle=\ttfamily,
  language=[LaTeX]{TeX},
}

\begin{document}

\maketitle

\chapter{Table of Contents}
\makeatletter
	\let\ps@plain\ps@fancy
	\@starttoc{toc}
\makeatother

\chapter{Introduction}
\begin{multicols}{2}

	% TODO

\end{multicols}

\chapter{Character Creation}
\begin{multicols}{2}

	//

	\section{Creating a Character}

		//

		\begin{enumerate}

			\item \textbf{Character Concept:} //

			\item \textbf{Attributes:} //

			\item \textbf{Race:} //

			\item \textbf{Backgrounds:}
				Every character gets to pick three backgrounds. \\
					The first background is chosen as whatever the character
				considers being a "normal person", so if they grew up as a
				normal citizen in rural Korashur, they would pick "Rural
				Korashuran Citizen" as their first background. This would mean
				that if given a knowledge check regarding some aspect of
				general Korashuran lore, they can add 1 to their effective
				skill rating for the check. \\
					The second background is the character's profession,
				chosen, or otherwise. This can be their current job, or
				something they did for some time before they took up a life of
				adventuring. There really isn't such a thing as an
				"Adventurer" in Sarradar, but "Archaeologist" or "Mercenary"
				are common.
					The third background is either a specialisation of the
				second, or an additional career that the character pursues.
				For most mercenaries, their second background is typically
				whatever they did before they became a sellsword, though they
				can always specialise as a "Bounty Hunter" or "Assassin".

			\item \textbf{Skills:} //

			\item \textbf{Disciplines:} //

		\end{enumerate}

	\section{Character Packages}

\end{multicols}

\chapter{Disciplines}
\begin{multicols}{2}

	#foreach ($discipline in $disciplines)
		\begin{spell} %TODO: Make discipline template
			{$discipline.name}
			{$discipline.category}
			{$discipline.grade}
			{$discipline.prerequisites}
			{}
			{}
			$discipline.description
		\end{spell}

	#end

\end{multicols}

\chapter{Spells}
\begin{multicols}{2}

	#foreach ($spell in $spells)
		\begin{spell}
			{$spell.name}
			{$spell.type}
			{$spell.action}
			{$spell.range}
			{$spell.components}
			{$spell.duration}
			$spell.description
		\end{spell}

	#end

\end{multicols}

